.product{
    display: flex;
    flex-direction: column;
    margin: 10px !important;
    padding: 20px !important;

    min-width: 100px;
    background-color: #fff;
    z-index: 1;
    flex: 250px;
    
}
.product__image{
    width: 250px !important;
    height: 200px !important;
    object-fit: contain;
}
.product__imgCon{
    display: flex;
    justify-content: center;
}
.product__rating{
    display: flex;
}
.product__price{
    
}
.product__priceCon{
    display: flex;
    margin-top: auto;
    justify-content:flex-start;
    align-items:center;
}
.product > img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;

}

.product__info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.btn__add{
    background:#fff;
    font-weight: 600;
    border-radius: 5px;
    padding: 5px;
    border:1px solid;
    margin-top: auto;
    color:#222831;
}
.btn__add:hover{
    transition: 0.2s;
    background:#222831 !important;
    color:#fff !important;
}